* {

    box-sizing: border-box;
}

body {
    font-family: 'Doto', sans-serif;
    background-color: black;
    margin: 0px;
}


/* HEADER */
header {
    position: absolute;
    width: 100%;
    /* Que ocupe todo el ancho */
    background-color: transparent;
    /* Opcional: para que el fondo sea visible */
    z-index: 1;
    padding: 10px 20px;
    /* Márgenes internos */
}

.logo {
    display: flex;
    justify-content: center;
}

.ysy-logo {
    width: 100px;
}

.ysy-logos {
    width: 100px;
    display: none;
}

.logo:hover .ysy-logos {

        width: 100px;
        display: block;
    
}

/* FIN HEADER */


/* HOME */
.YSY-Home {
    position: relative;
    overflow: hidden;
}

.YSY-Home img {
    display: block;
    /* Elimina márgenes extras */
    max-width: 100%;
    /* Escala la imagen según el contenedor */
    height: auto;
    /* Mantiene la proporción */

}

.YSY-Home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* Ajusta la altura del difuminado */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    pointer-events: none;
    /* Asegura que la capa no interfiera con interacciones del usuario */
}




/* SHOWS */
.h1-show {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.shows {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

table {
    width: 70%;
    font-family: 'Roboto Mono', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

table tr td {
    border-bottom: 3px solid white;
    font-size: 1.5rem;

}

.boton-comprar {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: orange;
    border: 2px solid black;
}

.show-finalizado {
    opacity: 0.3;
}

/* FIN SHOWS */

/* DISCOCRAFIA */
.h1-disco {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.discografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin: 10px;
}

.portadas {
    width: 340px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 4px;
}

.iconos-musica {
    width: 40px;
    margin: 4px;
}

.albumes {
    display: flex;
    justify-content: center;
}

/* FIN DE DISCOGRAFIA */

/* FOOTER */
footer {
    display: flex;
    background-color: black;
    justify-content: center;
}

.p-genero {
    font-size: 3rem;
    color: white;
}

.img-chain {
    width: 200px;
}

.footysy {
    display: flex;
    align-items: center;
}

/* FIN */


/* Form */

/* NO USO DISPLAY FLEX, YA QUE UTILIZE EL ABSOLUTE */
.formu {
    position: absolute;
    /* Permite usar top/left */
    z-index: 2;
    /* Mayor que 1 (header) y la imagen del fondo) */
    top: 50%;
    /* Centro vertical */
    left: 50%;
    /* Centro horizontal */
    transform: translate(-50%, -50%);
    /* Ajuste perfecto al centro */
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo semitransparente para mayor visibilidad */
    padding: 40px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    /* Sombra para resaltar */
}

form {
    flex-direction: column;
    display: flex;
    width: 300px;
}

form label {
    color: white;
    text-align: center;
    font-size: 2rem;
}

form input {
    background-color: transparent;
    border-radius: 10px;
}

.loguear {
    margin-top: 10px;
    border-radius: 10px;
    background-color: orange;
    font-family: 'Roboto Mono', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
}

.loguear:hover {
    background-color: rgb(199, 130, 3);
}